body{
    direction: rtl;
    width: 100vw;
    height: 100vh;
    box-sizing: border-box;
    margin:0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}
header{

    background: rgb(168,168,168);
    background: linear-gradient(0deg, rgba(168,168,168,1) 5%, rgba(144,144,144,1) 21%);
    height: 105px;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    margin:auto;
    margin-bottom: 30px;

}

nav{
    align-self: center;
    padding: 5px;
}

.logo{
    position: absolute;
    margin-right: -10%;
    margin-top: -3%;
}

.logo>img{

    width:150px;
}

.search{
    padding-bottom: 30px; 
    padding-left: 290px;
    display: flex;
    direction:ltr;
}

.search > input{

    border-radius: 0px 8px 0px 0px;  
    border-color:rgba(168,168,168,1);
    text-align: right;

}

.search > a{

    margin: 2px 0px 0px 10px;

}

.search > a, .search>img{
color: white;
cursor: pointer;
text-decoration: none;
}

.search > a:hover, .search > img:hover{

    color:blue;
    text-decoration:underline;
}

nav > ul{
    display: flex;
    list-style: none;
}

.nav_menu{
    text-align: center;  
    padding: 0px;
    margin: 0px;  
}

nav > .nav_menu{
    position: relative;
    padding-bottom: 5px;
}

.nav_menu ul{
    list-style: none;
}

nav > ul > li:first-child , .footer_nav > ul> li:first-child{
    border-right: none;
}

nav > ul > li, .footer_nav >ul >li{
padding:0px 10px 0px 10px;
border-right: 1px solid rgb(243,243,243);

}

nav > ul> li> a , .drop_down >ul >li >a,  .footer_nav >ul >li >a{
    color:white;
    font-size: 15px;
    font-weight: bold;
    text-decoration: none;
    }

nav > .nav_menu > li:hover > .drop_down{
  display: block;
  background: linear-gradient(0deg,rgba(144,144,144,1) 95%, rgba(168,168,168,1) 5%);
}

nav> .nav_menu > li > .drop_down{
    position: absolute;
    width: fit-content;
    z-index: 50;
    display: none;
    text-align:right;
    padding-top: 5px;
}

.drop_down > ul{
    padding: 0px 5px 0px 5px ;
    text-decoration: none;
}
.drop_down > ul > li{
    border-bottom: 1px solid white;
    border-bottom-width:thin ;
    padding: 5px 3px 3px 5px ;
}

.drop_down > ul > li:last-child{
    border-bottom:none;
}

.main_text_cube{
    margin:auto;
    width: 900px;
    margin-bottom: 19px;
}

.main_ads_cube{
    margin:auto;
    width: 900px;
    padding-bottom: 30px;
}


.text_cubes, .ads_cubes{
    display: flex;
    justify-content: space-between;
}

.map_container{
    display: flex;
    width:100%;
}
.station_map {
    
    width: 70%;
}

.flex_cube{
    width:32%;
    position: relative;
}



.ads_cubes > .flex_cube > .change_img:nth-child(n+2){
    display: none;
}


.flex_cube> img{
    border-radius: 0px 0px 20px 0px;
}

.cube_content{
    position: absolute;
    background-color: rgb(122, 123, 125);
    width:235px;
    height: 80px;
    color: #fff;
    font-size: 12px;
    padding:10px;
    right:6px;
    bottom:10px;
    border-radius: 0px 0px 20px 0px;  
    opacity: 0.9;      
    }

    .cube_content >h3, p {
        margin-top:0px;
        margin-bottom: 5px;
    }


.cube_content >a{
    float: left;
    color: white;
    }

.cube_content > a:hover{

    color: blue;
}

.ads_cubes> .flex_cube{

    border: 1px solid silver;
    border-radius: 0px 20px 0px 0px;

}


.station_map> ul{
    list-style: none;
    line-height: 20px;
    padding-right:2px;
    text-align: right;
    margin:0;
}

.footer{
    position: sticky;
    bottom: 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: linear-gradient(0deg,rgba(144,144,144,1) 95%, rgba(168,168,168,1) 5%);

}

.footer_nav > ul{
    margin: 0px;
    display: flex;
    list-style: none;
    padding-top: 5px;
    height: fit-content;
}
.flex_cube> ul> li> a:hover, .flex_cube>.change_img> ul>li>a:hover, .footer_nav>ul>li>a:hover{

    color:blue;
    text-decoration:underline;
}

.ads_cubes > .flex_cube{
    display: flex;
    flex-direction: column;
    height: 216px;
    font-size: 15px;
    margin:10px 0px 16px 0px;
   
}

.flex_cube div{

    padding: 0px 15px 0px 25px;
}

.ads_cubes > .flex_cube h4{
   
    border-bottom: 1px solid lightgray;
    height: fit-content;
    color:gray;
    margin: 8px 0px 15px 0px;
    padding-bottom: 7px;
}
.ads_link{
    align-self: flex-end;
    margin-top:10px;
}

.ads_link a , .station_map>ul a {
    font-size:12px;
    color:gray;
    
}